* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink {
    animation: pulse 1s infinite alternate;
}

#video {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}